.group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.group-container .group-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: red;
}
