html {
  background-color: #244d61;
}
h1 {
  font-size: 36px;
  color: #f2f2f2;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 24px;
  color: #f2f2f2;
  margin-bottom: 20px;
  margin-top: 20px;
}
.App {
  text-align: center;
  color: white;
  background-color: #2e424d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* removed padding causing page to slide from side to side  */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  background-color: #f2eded;
}

ul {
  display: flex;

  list-style: none;
}

li:not(:last-child) {
  margin-right: 40px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #555;
}

/* Site styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0 0 20px;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.chat-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.chat-button i {
  font-size: 20px;
  color: white;
}
